html{
    scroll-behavior:smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    line-height:1.6;
    color:#333;
}

.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 50px;
    background:#111;
    color:white;
}

.navbar ul{
    list-style:none;
    display:flex;
}

.navbar ul li{
    margin-left:20px;
}

.navbar a{
    color:white;
    text-decoration:none;
}

.hero{
    height:90vh;
    background:linear-gradient(to right,#667eea,#764ba2);
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
}

.hero h1{
    font-size:48px;
}

.hero h3{
    margin:10px 0;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:white;
    color:black;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

.section{
    padding:60px 80px;
    text-align:center;
}

.dark{
    background:#111;
    color:white;
}

.skills-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:20px;
}

.skill{
    background:#1f2937;
    color:#00ffd5;
    padding:10px 18px;
    margin:8px;
    border-radius:30px;
    border:1px solid #00ffd5;
    font-weight:bold;
}

.project-card{
    margin-top:25px;
    padding:20px;
    border:1px solid #ddd;
    border-radius:10px;
}

footer{
    text-align:center;
    padding:20px;
    background:#000;
    color:white;
}
.resume{
    background:black;
    color:white;
    margin-left:10px;
}
